div.hidden {
	display: none
}

.card .card-action a {
    color: #009688;
}

.card .card-action a:hover {
    color: #80CBC4;
}

.left-right-container {
	clear: both;
	overflow: auto;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}

.deletable-list-item {
	transition: background .3s ease-in-out;
}

.deletable-list-item:hover {
	background: #ddd;
}

.deletable-list-item .delete-button {
	opacity: 0.2;
	color: #555;		
	transition: opacity .3s ease-in-out;
}

.deletable-list-item:hover .delete-button {
	opacity: 1;
}