#categories_list .deletable-list-item {
	padding-left: 16px;
	padding-right: 16px;
}

#categories_list a:not(.delete-button) {
    color: #009688;
}

#categories_list a:not(.delete-button):hover {
    color: #80CBC4;
}